# macOS system files
.DS_Store
*/.DS_Store

# Xcode user data
*/xcuserdata/*
*.xcuserstate


# Build products
build/
DerivedData/

# Swift Package Manager
.swiftpm/

# OS X Finder
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# Firebase
GoogleService-Info.plist

